# ---------------------------------------------------------------------------
# Developer-specific properties
#
# Modify this file to taste and save as user.properties
# ---------------------------------------------------------------------------


# ----- Where to find executable jdks -----
#jdk9.home = ...
#jdk8.home = ...
#jdk7.home = ...

# ----- Where to find jdk source trees (used to generate javadocs) -----
#jdk9.src.home = ...
#jdk8.src.home = ...
#jdk7.src.home = ...
